<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Student Management System</h1>
    <a th:href="@{/showNewStudentForm}" class="btn btn-primary btn-sm mb-3">Add New Student</a>
    <br/>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
           <tr>
               <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDirection=' + ${reverseSortDir}}">FirstName</a></th>
               <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDirection=' + ${reverseSortDir}}">LastName</a></th>
               <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDirection=' + ${reverseSortDir}}">Email</a></th>
               <th>Actions</th>
           </tr>
        </thead>
        <tbody>
           <tr th:each="student : ${studentList}">
               <td th:text="${student.firstName}"></td>
               <td th:text="${student.lastName}"></td>
               <td th:text="${student.email}"></td>
               <td>
                   <a th:href="@{/showFormUpdate/{id}(id=${student.id})}" class="btn btn-primary">Edit</a>
                   <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
               </td>
           </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows : [[${totalItems}]]
            </div>
            <div class="col-sm-1">
              <span th:each="i :${#numbers.sequence(1,totalPages)}">
                  <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}" >[[${i}]]</a>
                  <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
              </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage +1 } + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>